img {
  display: block;
  width: 100%;
}
.lunbo1 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://coding-net-production-file-ci.codehub.cn/492be5e0-c550-11e9-81af-e1f3ecba4e26.jpg?sign=h7TllpuckmThvFYR+3/g1uUJLQlhPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYwNDM3JnQ9MTU2NzA0NDQzNyZyPTM5NDQ3MjM4JmY9LzQ5MmJlNWUwLWM1NTAtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  background-position: center;
}
.lunbo2 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://coding-net-production-file-ci.codehub.cn/4932eac0-c550-11e9-81af-e1f3ecba4e26.jpg?sign=49RCetOJ3bcgqCNxv2hHKc8coLphPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYwNTE3JnQ9MTU2NzA0NDUxNyZyPTYyNzMyMDg3JmY9LzQ5MzJlYWMwLWM1NTAtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  background-position: center;
}
.lunbo3 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://coding-net-production-file-ci.codehub.cn/493d23f0-c550-11e9-81af-e1f3ecba4e26.jpg?sign=UYWD7y6OKLO2kaORCKU03Yr6Nz9hPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYwNTQ2JnQ9MTU2NzA0NDU0NiZyPTUyODExMjIwJmY9LzQ5M2QyM2YwLWM1NTAtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  background-position: center;
}
.lunbo4 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://coding-net-production-file-ci.codehub.cn/56a6d360-c550-11e9-81af-e1f3ecba4e26.jpg?sign=kgf9fiUseaAqmPY585z83Q8vhbRhPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYwNTcxJnQ9MTU2NzA0NDU3MSZyPTQ5MTM4MTExJmY9LzU2YTZkMzYwLWM1NTAtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  background-position: center;
}
.lunbo5 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://coding-net-production-file-ci.codehub.cn/49377ea0-c550-11e9-81af-e1f3ecba4e26.jpg?sign=rdxAmA3LYuxvcsXeoNRD/ldrwMZhPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYwNTkyJnQ9MTU2NzA0NDU5MiZyPTczNDg4NDEyJmY9LzQ5Mzc3ZWEwLWM1NTAtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  background-position: center;
}
.login {
  background-image: url("https://coding-net-production-file-ci.codehub.cn/46b67c40-c554-11e9-81af-e1f3ecba4e26.jpg?sign=2aARcADgCjYVhc3nILDulHIW4WxhPTEyNTcyNDI1OTkmaz1BS0lEYXk4M2xGbWFTNlk0TFRkek1WTzFTZFpPeUpTTk9ZcHImZT0xNTY3MjYzMTEyJnQ9MTU2NzA0NzExMiZyPTIzOTE0MDU1JmY9LzQ2YjY3YzQwLWM1NTQtMTFlOS04MWFmLWUxZjNlY2JhNGUyNi5qcGcmYj1jb2RpbmctbmV0LXByb2R1Y3Rpb24tZmlsZQ==");
  background-size: cover;
  font-size: 50px;
  height: 100vh;
}
.login .login-input {
  width: 80vw;
  margin: 30vh auto 5vh;
}
.login input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: solid 1px #534d3f;
  text-align: center;
  outline: none;
  font-size: 20px;
}
.login .login-in {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.login .login-in span {
  font-size: 20px;
  color: #4d4b3f;
}
.login .agree {
  width: 80vw;
  margin: 25vh auto 0;
  text-align: center;
}
.login .agree p {
  color: #7d7462;
  font-size: 14px;
}
.login .agree p span {
  color: #fff;
}
.login-stype {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-around;
}
.login-stype .iconfont {
  margin: 10px 0;
  font-size: 40px;
  color: #4c4c4c;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}
.login-stype .iconfont.icon-weixin {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.login-stype .iconfont span {
  font-size: 20px;
}
